.contact-subtitle {
	font-size: 21px;
	text-align: center;
	color: #3F3F3F;
	margin-top: 0;
}
.contact-header-title-grid {
	display: grid;
	grid-template-columns: 50% 50%;
	margin-left: 8%;
	margin-right: 8%;
}
.contact-grid-column1 {
	text-align: left;

}
.regular-text {
	color: #3F3F3F;
}

.contact-grid-column2 {
	text-align: right;
	vertical-align: middle;
	padding-top: 7%;
	padding-bottom: 7%;
	color: #3F3F3F;
}

/*-----Map-----*/

.contact-map {
	margin: 0 8% 10% 8%;
  position: relative;
  height: 579px !important;
  overflow: hidden;
}
.contact-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

@media screen and (min-width: 1600px) {
	.contact-header-title-grid {
		margin: auto;
	}
	.contact-map {
		margin: 0 15% 10% 15%;
	}
	.contact-grid-column1 {
		font-size: 23px;
	}
	.contact-grid-column2 {
		font-size: 23px;
	}
}
@media screen and (max-width: 767px) and (min-width: 320px) {
	.contact-header-title-grid {
		display: grid;
		grid-template-columns: 100%;
		margin-left: 8%;
		margin-right: 8%;
	}
	.contact-grid-column1 {
		text-align: center;
	}
	.contact-grid-column2 {
		text-align: center;
	}
	.contact-map {
    margin: 0 0 20% 0;
    height: 285px !important;
	}
}