.footer-background {
	background-color: #3F3F3F;
}

.footer-grid {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	width: 100%;
	text-align: center;
	color: #fff;
	padding: 5% 0 5% 0;
  left: 0;
  justify-content: center;
  margin: auto;
}
.footer-title {
	font-size: 21px;
	font-weight: 600;
}
.footer-text {
	font-size: 16px;
	font-weight: 400;
	line-height: 27px;
	margin-bottom: 0;
	margin-top: 0;
}
.footer-icon {
	text-decoration: none;
	color: #fff;
	font-size: 25px;
	padding: 10px;
}
.footer-icon {
	text-decoration: none;
	color: #fff;
	font-size: 25px;
	padding: 15px;
}
.psychology-today-icon {
	width: 35%;
	padding-top: 0;
}
.footer-link:hover {
	color: #89BAC6;
}

/*-----Media Queries-----*/


@media only screen and (min-width: 1600px) {
	.footer-title {
		font-size: 26px;
		font-weight: 600;
	}
	.footer-text {
		font-size: 21px;
		font-weight: 400;
		line-height: 33px;
		margin-bottom: 0;
		margin-top: 0;
	}

}
@media screen and (max-width: 900px) and (min-width: 600px) {
	.footer-grid {
		padding: 5% 0 5% 0;
	}

	.footer-title {
		font-size: 18px;
	}

	.footer-text {
		font-size: 14px;
		line-height: 24px;
	}
	.psychology-today-icon {
		width: 50%;
	}


}

@media screen and (max-width: 599px) and (min-width: 320px) {
	.footer-grid {
		grid-template-columns: 100%;
		grid-gap: 10%;
		padding: 15% 0 35% 0;
	}

	.footer-title {
		font-size: 21px;
	}

	.footer-text {
		font-size: 18px;
		line-height: 30px;
	}




}