html {
	box-sizing: border-box;
	font-family: 'Source Serif Pro', serif;
}
*, *:before, *:after {
	box-sizing: inherit;
}



/*----- Home -----*/
body {
	margin: 0;
}
.home {
	background: url("../images/landing_page_banner.jpg") no-repeat scroll;
	background-size: 100% 100%;
  margin-top: 0;
  top: 0;
  left: 0;
  right: 0;
	height: 100%;
	width: 100%;
}
.home-title {
	color: #fff;
	font-family: 'Hind', sans-serif;
	font-weight: 500;
	margin-bottom: 0;
	line-height: normal;
	font-size: 35px;
}
.home-title-mobile {
	display: none;
}
.header-banner {
	padding-top: 20%;
	padding-bottom: 27%;
	overflow: auto;
	text-align: center;

}
.header-title {
	padding-top: 10%;
	padding-bottom: 2%;
}
.header-horizontal-line {
	color: white;
	width: 570px;
	border-width: 1px;
	border-style: solid;
	margin-bottom: 35px;
}
.start-today-btn {
	font-family: 'Hind', sans-serif;
	font-size: 24px;
	font-weight: 400;
	color: white;
	text-decoration: none;
	padding: 8px 50px;
	border: solid white;
	border-width: 1px;
	border-radius: 2px;
}
.start-today-btn:hover {
	color: #fff;
	border: solid #fff;
	border-width: 1px;
	border-radius: 3px;
	box-shadow: 0px 0px 50px #fff inset;
}

/*------Main Section-----*/

.home-grid {
	display: grid;
	grid-template-columns: 25% 20% 20% 20%;
	color: #3F3F3F;
	justify-content: center;
	margin: 6% auto 6% auto;
}
.home-grid-primary-column {
	text-align: right;
	padding: 25px 50px 25px 0;
	border-right: solid #3F3F3F;
	border-width: 1px;
}
.second-title {
	font-size: 24px;
	font-weight: 400;
}
.subtitle {
	font-size: 16px;
}
.home-grid-secondary-column {
	text-align: center;
	padding-top: 30px;
}
.specialties {
	font-size: 21px;
}
.home-icons {
	width: 40px;
}

/*-----Media Queries-----*/


/*Widescreen*/
@media only screen and (min-width: 1440px) {
/*  #center-content {
	 	max-width: 1500px;
		align-content: center;
	}
	.header-banner {
		padding-top: 16%;
	}*/
}

@media only screen and (min-width: 1600px) {
  .center-content {
	 	max-width: 1500px;
		align-content: center;
	}
	.header-banner {
		padding-top: 10%;
		padding-bottom: 20%;
	}
	.second-title {
		font-size: 28px;
		font-weight: 400;
	}
	.subtitle {
		font-size: 21px;
	}
	.specialties {
		font-size: 24px;
	}
	.home-title {
		font-size: 55px;
	}
	.start-today-btn {
		font-size: 34px;
	}

}

@media screen and (max-width: 900px) and (min-width: 600px) {
	.home {
		background: url("../images/landing_page_banner_tablet.jpg") no-repeat scroll;
		background-size: 100% 100%;
	}
	.header-banner {
		padding-top: 4%;
		padding-bottom: 9%;
	}
 	.home-title {
		font-size: 32px;
	}
	.start-today-btn {
		font-size: 21px;
		padding: 8px 45px;
	}
	.header-title {
		padding-top: 280px;
    margin: 0 100px 230px 100px;
	} 
	.header-horizontal-line {
		width: 400px;
	}
	.home-grid-primary-column {
		padding: 10px 23px 10px 0;
	}
	.home-grid-secondary-column {
    padding-top: 20px;
	}
	.second-title {
		font-size: 21px;
		font-weight: 400;
		margin-bottom: 0;
		margin-top: 30px;
	}
	.subtitle {
		margin-top: 0;
		font-size: 14px;
	}
	.specialties {
		font-size: 16px;
	}
	.home-icons {
		width: 28px;
	}
}

@media screen and (max-width: 599px) and (min-width: 320px) {

	.home {
		background: url("../images/landing_page_banner_mobile.jpg") no-repeat scroll;
		background-size: 100% 100%;
	}
	.header-banner {
		padding-top: 53%;
		padding-bottom: 59%;
	}
	.home-grid {
		display: grid;
		grid-template-columns: 100%;
		grid-gap: 10%;
		padding-bottom: 58%;
	}
	.home-title-mobile {
		display: block;
		color: #fff;
		font-family: 'Hind', sans-serif;
		font-weight: 500;
		margin-bottom: 0;
		line-height: normal;
		font-size: 30px;
	}
	.home-title {
		display: none;
	}
	.start-today-btn {
		font-size: 18px;
		padding: 8px 45px;
	}
	.home-grid-primary-column {
		text-align: center;
		border-right: none;
		border-bottom: solid #3F3F3F;
		border-width: 1px;
		padding: 25px 0 25px 0;
		margin: 0 25px;
	}
	.header-horizontal-line {
		width: 270px;
		border-width: 0.5px;
	}
 	
}


