.resources-header-grid {
	display: grid;
	grid-template-columns: 50% 50%;
	margin-left: 8%;
	margin-right: 8%;
	text-align: center;
}
.resources-grid-title {
	color: #000080;
	font-size: 18px;
}
.resources-grid-text {
	color: #3F3F3F;
	font-size: 18px;
}
.resources-alert-box {
	color: #fff;
	font-size: 18px;
	line-height: 27px;
	background-color: #89BAC6;
	text-align: center;
	margin: 8% 20% 10% 20%;
	padding: 3%;
	border-radius: 3px;
}




@media screen and (min-width: 1600px) {

	.resources-header-grid {
		margin: auto;
	}
	.resources-grid-title {
		font-size: 22px;
	}
	.resources-grid-text {
		font-size: 22px;
	}
		.resources-alert-box {
		margin: 8% auto 10% auto;
		font-size: 23px;
	}

}